<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" href="https://i.pinimg.com/736x/1c/54/f7/1c54f7b06d7723c21afc5035bf88a5ef.jpg">
</head>
<body style="background-color:rgb(208, 158, 97)">
    <h1 style="text-align: center; font-size:50px; color:blue">Welcome to Codessentials</h1><br><br><br>
    <img src="https://i.pinimg.com/736x/1c/54/f7/1c54f7b06d7723c21afc5035bf88a5ef.jpg" width="150px" style="margin-left:550px">
</body>
</html>